<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>List of Cars</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Age</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.age}"></td>
        <td th:text="${car.color}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>